<html>
    <style>
        body{
        font-size: 15pt;
        font-family: arial;
        }
    </style>

<body>
    <h1>Polling App</h1>
    <p><a href="/users">View/create users</a></p>
    <p><a href="/new_presentation">Create a new presentation</a></p>
    <p><a href="/show_presentations">View available presentations</a></p>
    <p><a href="/new_poll">Create a new poll</a></p>
    <p><a href="/vote">Vote on a Poll</a></p>
    <p><a href="/results">View the results a Poll</a></p>

    </br></br></br>
    <p>Created By:</br>
        1. Ashish Maheshwari - am5003</br>
        2. Saurabh Runwal - sr3545
    </p>
</body>

</html>
