<html>
    <style>
        body {
        font-size: 15pt;
        font-family: arial;
        }
    </style>

<body>
    <u><h3>New Poll</h3></u>
    <form method="POST" action="/add_poll">
        <p>Enter your question: <input type="text" name="question"></p>
        <p>Enter presentation name: <input type="text" name="presentation"></p>
        <p>
            Choose poll type:
            <select name="type">
                <option value="scq">scq</option>
                <option value="mcq">mcq</option>
            </select>
        </p>
        <p>Enter poll option 1: <input type="text" name="option1"></p>
        <p>Enter poll option 2: <input type="text" name="option2"></p>
        <p>Enter poll option 3: <input type="text" name="option3"></p>
        <p>Enter poll option 4: <input type="text" name="option4"></p>
        <p><input type="submit" value="Submit"></p>
    </form>

</body>

</html>
