<html>
    <style>
        body {
        font-size: 15pt;
        font-family: arial;
        }
    </style>

<body>
    <u><h3>New Presentation</h3></u>
    <form method="POST" action="/add_presentation">
        <p>Enter your presentation name: <input type="text" name="pr_name"></p>
        <p>Enter the presentation description: <input type="text" name="pr_desc"></p>
        <p><input type="submit" value="Submit"></p>
    </form>

    <u><h3>Add Presentation Owner</h3></u>
    <form method="POST" action="/add_owner">
        <p>Enter the presentation id: <input type="text" name="pr_id"></p>
        <p>Enter the user id: <input type="text" name="u_id"></p>
        <p><input type="submit" value="Submit"></p>
    </form>

    <u><h3>Add Presentation Participant</h3></u>
    <form method="POST" action="/add_participant">
        <p>Enter the presentation id: <input type="text" name="pr_id"></p>
        <p>Enter the user id: <input type="text" name="u_id"></p>
        <p><input type="submit" value="Submit"></p>
    </form>

</body>

</html>
